<%- include('partials/header') %>

<main>
  <h3 class="decorated">Mon panier</h3>

  <!-- React va se monter ici -->
  <div id="cart-root" class="cart-root"></div>
</main>

<script type="module" src="/js/react/cart.js"></script>

<%- include('partials/footer') %>
