<%- include('partials/header') %>

<main>
    <section class="contact-form">
        <img src="/images/cup-table.png" class="cup-table" alt="">
        <form id="contact-form" action="https://formspree.io/f/mzddpwgd" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="message">Message</label>
                <textarea id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="contact-btn">Envoyer</button>
            <p id="form-message"></p>
        </form>  
    </section>
</main>

<%- include('partials/footer') %>