<%- include('partials/header') %>

<main>
    <div class="error">
        <h4>Il semble que la page vous demandez n'existe pas</h4>
        <img src="/images/error404.jpeg" alt="Image du film 'La Ligne Verte'">
    </div>                   
</main>

<%- include('partials/footer') %>
       