<%- include('partials/header') %>
    <!-- cgv -->
    <section class="cgv">
        <div class="cgv-content">
            <h3 class="decorated">Conditions Générales de Vente</h3>
            <p><strong>Article 1 : Objet</strong><br>
                Les présentes conditions générales de vente (CGV) régissent les relations contractuelles entre le vendeur, Jean et Jacques Pepper, et l'acheteur, et sont applicables à toute commande passée sur notre site Internet.</p>
                
                <p><strong>Article 2 : Produits</strong><br>
                Les produits proposés à la vente sont ceux qui figurent sur notre site internet. Chaque produit est décrit avec les caractéristiques essentielles qui permettent à l'acheteur de connaître son contenu et ses propriétés avant de passer commande.</p>
                
                <p><strong>Article 3 : Commandes</strong><br>
                L'acheteur passe commande via le site Internet. Il reçoit une confirmation de commande par e-mail. Toute commande est considérée comme ferme et définitive dès réception du paiement.</p>
                
                <p><strong>Article 4 : Prix</strong><br>
                Les prix des produits sont indiqués en euros, toutes taxes comprises (TTC). Le vendeur se réserve le droit de modifier ses prix à tout moment, mais les prix appliqués seront ceux en vigueur au moment de la commande.</p>
                
                <p><strong>Article 5 : Paiement</strong><br>
                Le paiement des produits peut être effectué par carte bancaire ou via un autre moyen de paiement disponible sur notre site. Le paiement est sécurisé par un service de paiement en ligne. La commande ne sera validée qu'après réception du paiement.</p>
                
                <p><strong>Article 6 : Livraison</strong><br>
                Les produits sont livrés à l'adresse de livraison indiquée par l'acheteur au moment de la commande. Le délai de livraison est donné à titre indicatif et peut varier en fonction de la disponibilité des produits et du transporteur. En cas de retard, aucune indemnité ne sera versée à l'acheteur.</p>
                
                <p><strong>Article 7 : Droit de rétractation</strong><br>
                L'acheteur dispose d'un délai de 14 jours à compter de la réception des produits pour exercer son droit de rétractation, sans avoir à justifier de motifs. Le produit devra être retourné dans son état d'origine et à la charge de l'acheteur.</p>
                
                <p><strong>Article 8 : Garantie</strong><br>
                Tous nos produits sont couverts par la garantie légale de conformité et la garantie des vices cachés. En cas de défaut de conformité ou de vice caché, l'acheteur peut demander l'échange ou le remboursement du produit, sous réserve que le produit soit retourné dans son état original.</p>
                
                <p><strong>Article 9 : Responsabilité</strong><br>
                Le vendeur ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation des produits achetés sur le site, sauf en cas de faute lourde ou de négligence grave.</p>
                
                <p><strong>Article 10 : Propriété intellectuelle</strong><br>
                Tous les éléments du site, y compris les textes, images, logos et marques, sont la propriété exclusive du vendeur. Toute reproduction, distribution, ou utilisation de ces éléments sans autorisation préalable est interdite.</p>
                
                <p><strong>Article 11 : Loi applicable</strong><br>
                Les présentes conditions générales de vente sont régies par la loi française. En cas de litige, les tribunaux français seront compétents.</p>
                
                <p><strong>Article 12 : Modification des CGV</strong><br>
                Le vendeur se réserve le droit de modifier ses conditions générales de vente à tout moment. Les nouvelles CGV seront applicables à toute commande passée après leur mise en ligne sur le site.</p>             
        </div>
    </section>

    <!-- legals -->
    <section class="legals">      
        <h3 class="decorated">Mentions légales</h3>
        <div class="legals-content">
            <div class="edit">
                <h4>1. Éditeur du site</h4>
                    <p>Le site www.nomdusite.com est édité par :</p>
                    <p>an et Jacques Pepper, entrepreneurs.</p>
                    <p>Adresse : 123 Rue du Café, 75001 Paris, France.</p>
                    <p>Numéro de téléphone : 01 23 45 67 89</p>
                    <p>Email : contact@nomdusite.com</p>
                    <p>Responsable de la publication : Jean Pepper</p>
            </div>
            <div class="hebergement">
                <h4>2. Hébergement</h4>
                    <p>Le site est hébergé par :</p>
                    <p>Nom de l'hébergeur : OVH</p>
                    <p>Adresse de l'hébergeur : 2 Rue Kellermann, 59100 Roubaix, France</p>
                    <p>Numéro de téléphone : 09 72 10 10 07</p>
                    <p>Email : support@ovh.com</p>
            </div>
        </div>
    </section>

    <!--politics-->
    <section class="politics">
        <div class="politics-content">
            <h3 class="decorated">Politique de Confidentialité</h3>
            <h4>1. Collecte des Informations</h4>
            <p>Nous collectons des informations personnelles telles que votre nom, adresse e-mail, et adresse de livraison lorsque vous utilisez notre site. Ces informations sont nécessaires pour traiter vos commandes et répondre à vos demandes.</p>

            <h4>2. Utilisation des Informations</h4>
            <p>Les informations collectées sont utilisées pour :</p>
            <ul>
                <li>Traiter vos commandes.</li>
                <li>Vous fournir un service client.</li>
                <li>Vous envoyer des offres ou des informations, si vous y avez consenti.</li>
            </ul>

            <h4>3. Protection des Données</h4>
            <p>Nous mettons en place des mesures de sécurité pour protéger vos données personnelles contre tout accès non autorisé.</p>

            <h4>4. Cookies</h4>
            <p>Nous utilisons des cookies pour améliorer votre expérience de navigation. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur.</p>

            <h4>5. Vos Droits</h4>
            <p>Vous avez le droit d’accéder, de modifier ou de supprimer vos données personnelles en nous contactant directement.</p>
        </div>
    </section>
<%- include('partials/footer') %>