@import url('reset.css');
@import url('header-footer.css');
@import url('home.css');
@import url('company.css');
@import url('contact.css');

/*---- variables ----*/
:root {
    --font-title: 'Rye', cursive;
    --font-text: "Crimson Pro", serif;
    --font-color-text: #ffeede;
    --font-color-brown: #3d2616;
}

/* Base styles */
.border {
    max-width: 80%;
    margin: auto;
    background-color: rgba(255, 231, 215, 0.511);
}

h1 , a , .panier , h2 {
    color: #ffeede;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

body {
    font-family: var(--font-text);
    background-color: rgb(254, 246, 215);
}

a {
    text-decoration: none;
}

.modal {
    display: none;
}

h3 , h4 {
    color: var(--font-color-brown)
}

h3 {
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}