.error {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.error > img {
    width: 50%;
    min-width: 280px;
    margin: auto;
    display:block;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.error > h4 {
    font-size: 1rem;
    color: #141313;
    text-align: center;
}