header , footer {
    background-image: url("../images/background.png");
}

header {
    position: relative; /* indispensable ! */
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: 
    linear-gradient(to top, #361e0f 0%, rgba(152,65,27,0) 100%);
    z-index: 2;
    pointer-events: none;
}

.top-bar , .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: var(--font-title);
    width: 260px;
    text-align: center;
    padding: 10px 0;
    font-weight: normal;
}

.nav--links {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    height: 40px;           /* hauteur fixe */
    align-items: center;    /* centre les liens verticalement */
}

.nav--links > a , .panier {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid var(--font-color-text);
    border-radius: 5px;
}

/*----- footer -----*/
.footer-bottom {
    color: var(--font-color-text);
    padding: 1rem 0;
}

.footer-bottom p , .follow-us span {
    font-size: 12px;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 10px;
}

.follow-us .arrow {
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}

.follow-us .social-icon svg {
    width: 18px;
    height: 18px;
    transition: transform 0.2s, fill 0.2s;
}

.follow-us .social-icon:hover svg {
    transform: scale(1.3);
    fill: #ffffff; 
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 2rem;
}