.home-presentation {
    position: relative;
    padding: 2rem;
    height: 300px;
}

.home-presentation .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;       /* adapte la largeur */
    height: 100%;      /* adapte la hauteur */
    object-fit: cover; /* l'image garde son ratio mais remplit la section */
    z-index: 0;
}

.home-presentation .description {
    position: relative;
    z-index: 1;        /* texte au-dessus de l'image */
    max-width: 70%;    /* texte limité à gauche */
}

.home-presentation::before {
    content: "";
    position: absolute;
    top: 0;              
    left: 0;
    width: 100%;
    height: 2px;        
    background: 
    linear-gradient(to bottom, #361e0f 0%, rgba(152,65,27,0) 100%);
    z-index: 2;
    pointer-events: none;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    justify-content: center;
}

.description > p {
    width: 70%;
    margin-bottom: 1rem;
    color: var(--font-color-text);
}

h2 {
    font-family: var(--font-title);
    font-weight: normal;
}

.btn-link {
    display: inline-block;
    padding: 5px 30px;
    background-color: #4f1e09;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); /* petit ombrage */
    transition: background-color 0.3s;
    background: linear-gradient(to bottom, #4f1e09, #6d3115); 
    margin: 10px 0;
}   

.link-catalog, .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 180px;
    height: 50px;  
    padding: 0;               /* reset padding par défaut */
    border: 1px solid #d5935d;
    background-color: rgba(57, 26, 1, 0.674);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    text-align: center;  
    font: inherit;            /* reprend la police du parent */
    line-height: normal;      /* reset */
    cursor: pointer;          /* comme un lien */
    outline: none;            /* supprime le contour bleu par défaut */
    transition: background-color 0.3s, transform 0.3s;
}

.link-catalog:hover, .contact-btn:hover {
    background-color: #4e3d32;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
    transform: translateY(-2px);
}

/*---- h3 ----*/
h3.decorated {
    font-family: var(--font-title);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;                 /* espace entre texte et traits */
    font-weight: bold;
    margin-top: 1rem;
}

.new-products--list p {
    text-align: center;
    margin-bottom: 10px;
    color: #3d2616;
}   

h3.decorated::before,
h3.decorated::after {
    content: "";
    flex: 1;                   /* les traits s’adaptent */
    height: 3px;               /* plus épais, effet plume */
    max-width: min(40%, 280px);/* empêche d’aller dans les marges */
}

h3.decorated::before {
    background: linear-gradient(
        to left,
        #3d2616,               /* épais près du texte */
        rgba(111, 78, 55, 0)   /* s’estompe vers l’extérieur */
    );
}

h3.decorated::after {
    background: linear-gradient(
        to right,
        #3d2616,
        rgba(111, 78, 55, 0)
    );
}

/*----- section random ----*/
.random-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    gap: 2rem;
    padding: 1rem;
}

/*----- cartes produits ----*/
.product {
    background-color: #fdeded;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);

    display: grid;
    grid-template-rows: auto 1fr auto; /* image / contenu / bouton */
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.18);
}

/* image */
.product-image img {
    width: 100%;
    display: block;
    padding: 1rem;
}

/* contenu (titre + description) */
.product-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* contenu en haut du bloc */
    text-align: center;
}

.product-content h4 {
    margin: 0 0 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--font-color-brown);
}

.product-content p {
    margin: 0.5rem 0 0 0;
    color: var(--font-color-brown);
}

/* bouton */
.product .btn-link {
    justify-self: center; /* centre horizontal */
    align-self: end;      /* colle le bouton en bas */
    margin: 16px 0;
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--font-color-brown);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.product .btn-link:hover {
    background-color: #a0522d; /* un peu plus foncé au hover */
}
