@media (max-width: 800px) {
    /* Version plus spécifique pour écraser les sélecteurs plus forts */
    html .main-container {
        margin: 0 auto;
        max-width: 100%;
    }

    .legals-content {
        flex-direction: column;
        gap: 1rem;
    }

    .edit , .hebergement {
        width: 100%;
    }

    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@media (max-width: 630px) {
/*----- header et footer -----*/
    .top-bar , .footer-bottom , .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .nav--links {
        margin-bottom: 1rem;
            gap: 6px;
    }
/*----- entreprise -----*/
    .company , .skills {
        width: 100%;
    }
/*----- contact form -----*/
    .contact-form {
        padding: 1rem;
    }
/*----- home-presentation-----*/
    .home-presentation {
        padding: 1rem;
    }

    .home-presentation .description {
        max-width: 80%;
    }

    .description > h2 {
        font-size: 1.4rem;
    }
/*----- section random -----*/
    .random-products {
        grid-template-columns: 1fr; /* une seule colonne */
    }
/*----- section entreprise / legals -----*/
    .company , .skills , .cgv , .legals , .privacy {
        padding: 1rem; 
    }     
}

@media (max-width: 450px) {
    .home-presentation .description {
        gap: 0.5rem;
        max-width: 100%;
    }

    .description > p {
        background-color: rgba(57, 26, 1, 0.674);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin-bottom: .5rem;
    }
    .cgv-content {
        padding: 0;
    }
}