@media (max-width: 800px) {
    /* Version plus spécifique pour écraser les sélecteurs plus forts */
    html .main-container {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (max-width: 630px) {
/*----- header et footer -----*/
    .top-bar , .footer-bottom , .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .nav--links {
        margin-bottom: 1rem;
            gap: 6px;
    }
/*----- entreprise -----*/
    .company , .skills {
        width: 100%;
    }
/*----- contact form -----*/
    .contact-form {
        padding: 1rem;
    }
/*----- home-presentation-----*/


/*----- section random -----*/
    .random-products {
        grid-template-columns: 1fr; /* une seule colonne */
    }
}