<footer>
    <div class="footer-content">
        <nav class="footer--links">
            <!--<a href="/conditions-generales-de-vente">Conditions générales de vente</a>-->
            <a href="#" id="cgv-link">Conditions Générales de Vente</a> 
            <!--<a href="/mentions-legales">Mentions légales</a>-->
            <a href="#" id="ml-link">Mentions légales</a>
            <!--<a href="/politique-de-confidentialite">Politique de confidentialité</a>-->
            <a href="#" id="privacy-link">Politique de Confidentialité</a>
            <a href="javascript:void(0);" id="openContactForm">Contact</a>
        </nav>
    </div>

<%- include('modals') %>

    <div class="footer-bottom">
        <p>2025 O'Coffee. Tous droits réservés.</p>
    </div>
</footer>
    </div>
        <script src="/js/header.js"></script>
        <script src="/js/footer.js"></script>
</body>
</html>