<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Imperial+Script&family=Love+Light&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rye&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/images/favicon.png">
    
    <link rel="stylesheet" href="/css/base.css">  

    <title>O'Coffee</title>
</head>
<body>
    <div class="border">
        <header>
            <section class="top-bar">
                <div class="logo">
                    <h1>Le Comptoir du Café</h1>
                </div>
                <nav class="nav--links" id="menu-navbar">
                    <a href="/">Accueil</a>
                    <a href="/catalog">Catalogue</a>
                    <a href="/company">L'entreprise</a>
                    <a href="/cart" class="panier" id="panier">Panier</a>
                </nav>
                
            </section>  
        </header>

